.partners {

  // .partners__list

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 162px;
  }

  // .partners__item

  &__item {
    max-width: 80px;
    max-height: 59px;
  }

  // .partners__link

  &__link {
  }

  // .partners__logo

  &__logo {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}

