<section class="advantage">
  <div class="advantage__container">
    <ul class="advantage__list">
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#free-delivery"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            Free shipping
          </div>
          <p class="advantage__desc">
            For orders over $50
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#return"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            Purchase returns
          </div>
          <p class="advantage__desc">
            If the goods have been damaged
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#24-7"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            24/7 support
          </div>
          <p class="advantage__desc">
            Top Operators
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>