<section class="advantage">
  <div class="advantage__container">
    <ul class="advantage__list">
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#free-delivery"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            Бесплатная доставка
          </div>
          <p class="advantage__desc">
            Для заказов на сумму от 500 ₽
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#return"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            Возврат товара
          </div>
          <p class="advantage__desc">
            Если товары были испорчены
          </p>
        </div>
      </li>
      <li class="advantage__item">
        <svg class="advantage__icon">
          <use xlink:href="img/sprite.svg#24-7"></use>
        </svg>
        <div class="advantage__text">
          <div class="advantage__title">
            Поддержка 24/7
          </div>
          <p class="advantage__desc">
            Лучшие операторы
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>