<section class="banners">
  <div class="container">
    <h2 class="sr-only">Season sale</h2>
    <ul class="banners__list">
      <li class="banners__item banners__item---left">
        <div class="banners__info">
          <p class="banners__subtitle">Season sale</p>
          <h3 class="banners__title">
            Start a fruit summer TOTAL&nbsp;Sale</h3>
          <a href="#" class="banners__link">
            To the catalog
          </a>
        </div>
      </li>
      <li class="banners__item banners__item---middle">
        <div class="banners__info">
          <p class="banners__subtitle">Season sale</p>
          <h3 class="banners__title">Vegetables up&nbsp;to &minus;50%</h3>
          <a href="#" class="banners__link">
            To the catalog
          </a>
        </div>
      </li>
      <li class="banners__item banners__item---right">
        <div class="banners__info">
          <p class="banners__subtitle">Season sale</p>
          <h3 class="banners__title">Fresh bread up&nbsp;to &minus;50%</h3>
          <a href="#" class="banners__link">
            To the catalog
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
