<section class="blog">
  <div class="container">
    <h2 class="title blog__title">
      Latest news
    </h2>
    <ul class="blog__list">
      <li class="blog__item">
        <div class="blog__date">
          <p class="blog__date--month">July</p>
          <p class="blog__date--date">15</p>
        </div>
        <img class="blog__img" src="img/news-1.jpg" alt="berries" width="410" height="240">
        <a href="#" class="blog__link">
          This summer&rsquo;s event: the sale of&nbsp;seasonal fruits in&nbsp;the FreshOK online market. Hurry
          up&nbsp;until everything is&nbsp;sorted out!
        </a>
      </li>
      <li class="blog__item">
        <div class="blog__date">
          <p class="blog__date--month">May</p>
          <p class="blog__date--date">07</p>
        </div>
        <img class="blog__img" src="img/news-2.jpg" alt="berries" width="410" height="240">
        <a href="#" class="blog__link">
          The most luxurious selection of&nbsp;mangoes in&nbsp;our online market
        </a>
      </li>
      <li class="blog__item">
        <div class="blog__date">
          <p class="blog__date--month">February</p>
          <p class="blog__date--date">20</p>
        </div>
        <img class="blog__img" src="img/news-3.jpg" alt="berries" width="410" height="240">
        <a href="#" class="blog__link">
          Everything you ever wanted to&nbsp;know about papaya
        </a>
      </li>
    </ul>
  </div>
</section>
