<section class="discount">
  <div class="container">
    <h2 class="discount__title title">Sale</h2>
    <ul class="discount__list">
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/pineapple-mini.jpg" alt="Pineapple">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Pineapple, 1lb
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle">
              in stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$9.99</p>
              <p class="discount-item__old">$13</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/coffee-mini.jpg" alt="Coffee" width="100" height="75">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Coffee with hemp, organic, 250ea 
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle discount-item__subtitle--end">
              ending
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$8.20</p>
              <p class="discount-item__old">$13</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/strawberry-mini.jpg" alt="Pineapple">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Strawberry, 1lb
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle discount-item__subtitle--out">
              out of stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$6.99</p>
              <p class="discount-item__old">$8.20</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/mango-mini.jpg" alt="Mango">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Mango, 1p
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle">
              in stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$7.10</p>
              <p class="discount-item__old">$10.10</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/salmon-mini.jpg" alt="salmon">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Salmon, 1lb
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle">
              in stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$19.99</p>
              <p class="discount-item__old">$21.99</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/juice-mini.jpg" alt="Juice">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Veg Juice, 100%, 1pt
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle discount-item__subtitle--end">
              ending
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$6.99</p>
              <p class="discount-item__old">$7.99</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/basket-mini.jpg" alt="Fruit basket">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Fruite basket, 1basket
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle">
              in stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$29.99</p>
              <p class="discount-item__old">$35.99</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="discount__item discount-item">
        <div class="discount-item__img-box">
          <img class="discount-item__img" src="img/products/meat-mini.jpg" alt="Meat">
        </div>
        <div class="discount-item__content">
          <a class="discount-item__title">
            Organic Boneless Pork Chops, 1lb
          </a>
          <div class="discount-item__bottom">
            <h4 class="discount-item__subtitle">
              in stock
            </h4>
            <div class="discount-item__terms">
              <p class="discount-item__price">$7.69</p>
              <p class="discount-item__old">$10.99</p>
              <div class="discount-item__rate">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a class="top-category__link btn" href="#">
      Show more
    </a>
  </div>
</section>
