<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__left">
        <a class="footer-top__logo logo" href="#">
          <img class="logo__img" src="img/logo.svg" alt="logo">
        </a>
        <form class="footer-subscribe" action="#">
          <p class="footer-subscribe__text">
            Следите за нашими акциями
          </p>
          <div class="footer-subscribe__form">
            <label>
              <input class="footer-subscribe__input" type="email" required placeholder="email@email.com">
            </label>
            <button class="footer-subscribe__btn btn" type="submit">Подписаться
            </button>
          </div>
        </form>
      </div>

      <nav class="footer-top__menu">
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              О нас
            </a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Контакты
            </a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Публичная оферта
            </a>
          </li>

          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Оплата и доставка
            </a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Вакансии
            </a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Акции
            </a>
          </li>

          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Отзывы
            </a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link" href="#">
              Новости
            </a>
          </li>
        </ul>
      </nav>

      <address class="footer-top__right">
        <p class="footer-subscribe__text">
          Горячая линия
          <a class="footer-top__tel" href="tel:+7907288365">
            +7 907 288 365
          </a>
        </p>
        <p class="footer-subscribe__text">
          Санкт-Петербург, ул. Ленина, 1
        </p>
        <ul class="footer-top__network">
          <li class="footer-top__element">
            <a class="footer-top__img" href="#">
              <svg class="footer-top__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-top__element">
            <a class="footer-top__img" href="#">
              <svg class="footer-top__icon">
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-top__element">
            <a class="footer-top__img" href="#">
              <svg class="footer-top__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-top__element">
            <a class="footer-top__img" href="#">
              <svg class="footer-top__icon">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-bottom">
      <p class="footer-bottom__copy">
        © 2021 Fresh0K
      </p>
      <ul class="footer-bottom__accept">
        <li class="footer-bottom__list">
          <svg class="footer-bottom--visa">
            <use xlink:href="img/sprite.svg#visa"></use>
          </svg>
        </li>
        <li class="footer-bottom__list">
          <svg class="footer-bottom--mc">
            <use xlink:href="img/sprite.svg#mc"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</footer>
