  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__top-menu">
          <ul class="header__top-left">
            <li class="header__item header__item--delivery">
              <a class="header__button" href="#">
                <svg class="header__button--icon">
                  <use xlink:href="img/sprite.svg#delivery"></use>
                </svg>
                <p class="header__link" href="#">
                  Delivery address
                </p>
              </a>
            </li>
            <li class="header__item header__item--support">
              <a class="header__link" href="#">
                Hotline 24/7
              </a>
            </li>
          </ul>
          <ul class="header__top-right">
            <li class="header__item">
              <a class="header__link" href="#">Delivery
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">About
              </a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">News
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-wrapper">
          <a class="logo" href="#">
            <img class="logo__img" src="img/logo.svg" alt="logo">
          </a>
          <button class="header__catalog" action="#" type="menu">
            Food catalog
          </button>
          <form class="header__search" action="">
            <div class="header__search--items">
              <label>
                <svg class="header__search--icon">
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
                <input class="header__search--input" type="text" name="search" required placeholder="Find ..."></input>
              </label>
              <button class="header__search--btn" type="submit">Search</button>
            </div>
          </form>

          <ul class="user-nav">
            <li class="user-nav__item">
              <button class="user-nav__user" type="button">
                <svg class="icon-svg">
                  <use xlink:href="img/sprite.svg#user-link"></use>
                </svg>
              </button>
            </li>
            <li class="user-nav__item">
              <button class="user-nav__fav" type="button">
                <svg class="icon-svg">
                  <use xlink:href="img/sprite.svg#user-fav"></use>
                </svg>
                <span class="user-nav__num">
                  12
                </span>
              </button>
            </li>
            <li class="user-nav__item">
              <button class="user-nav__cart" type="button">
                <svg class="icon-svg">
                  <use xlink:href="img/sprite.svg#user-cart"></use>
                </svg>
                <span class="user-nav__num">
                  12
                </span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </header>
