<h1 class="sr-only">Internet market Freshok</h1>
<section class="top-slider swiper">
  <h2 class="sr-only">Best offers</h2>
  <div class="top-slider__inner swiper-wrapper">

    <div class="top-slider__item swiper-slide">
      <div class="container">
        <div class="top-slider__content">
          <div class="top-slider__main">
            <h3 class="top-slider__title">
              Fresh to you <span class="top-slider__subtitle">Sale -50%</span>
            </h3>
            <p class="top-slider__text">
              Best sales up to 50% here. Get the fresh!
            </p>
          </div>
          <a class="top-slider__link btn" href="#">
            Buy now
          </a>
        </div>
      </div>
      <img class="top-slider__img" src="img/topslide1.jpg" alt="carrot">
    </div>

    <div class="top-slider__item swiper-slide">
      <div class="container">
        <div class="top-slider__content">
          <div class="top-slider__main">
            <h3 class="top-slider__title">
              Get fresh tomatos <span class="top-slider__subtitle">Sale: get 3 for 1</span>
            </h3>
            <p class="top-slider__text">
              Best sales for the very best tomatos
            </p>
          </div>
          <a class="top-slider__link btn" href="#">
            Buy now
          </a>
        </div>
      </div>
      <img class="top-slider__img" src="img/topslide2.jpg" alt="tomatos">
    </div>

    <div class="top-slider__item swiper-slide">
      <div class="container">
        <div class="top-slider__content">
          <div class="top-slider__main">
            <h3 class="top-slider__title">
              Let the others<br> turn green with envy <span class="top-slider__subtitle">Green sales</span>
            </h3>
          </div>
          <a class="top-slider__link btn" href="#">
            Buy now
          </a>
        </div>
      </div>
      <img class="top-slider__img" src="img/topslide3.jpg" alt="Salad">
    </div>

  </div>


  <button class="slider-nav__btn slider-btn slider-btn__prev">
    <svg class="slider-nav__arrow">
      <use xlink:href="img/sprite.svg#arrow-prev"></use>
    </svg>
  </button>
  <button class="slider-nav__btn slider-btn slider-btn__next">
    <svg class="slider-nav__arrow">
      <use xlink:href="img/sprite.svg#arrow-next"></use>
    </svg>
  </button>

</section>
