<section class="top-category">
  <div class="container">
    <h2 class="title top-category__title">
      Top Products
    </h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__btn filter__btn--active" data-filter="all" type="button">
          All
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter="fruit" type="button">
          Fruit
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter="veg" type="button">
          Vegetables
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter="bev" type="button">
          Beverages
        </button>
      </li>
      <li class="filter__item">
        <button class="filter__btn" data-filter="grocery" type="button">
          Grocery
        </button>
      </li>
    </ul>

    <div class="product-list">

      <article class="product fruit">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--new">New
            </div>
            <div class="product__badge product__badge--discount">-50%
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/pineapple.jpg" alt="#">
        </div>
        <div class="product__bottom">
          <h3 class="product__name">
            Ananas, 1lb
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__old-price">$9.99</div>
              <div class="product__new-price">$5.25</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product fruit">
        <div class="product__top">
          <div class="product__badges">

          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/lemon.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Lemon, 1lb
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$7</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product fruit">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--hit">Hit
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/dragon.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Pitahaya, 1p
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$13</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product veg">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--new">New
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/paprik.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Peper, 1lb
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$4.6</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product  veg">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--hit">Hit
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/carrot.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Carrot, 1lb
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$1.5</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product bev">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--discount">-50%
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/juice.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Sanpellegrino Aranciata Orange, non-alcoholic
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__old-price">$3.98</div>
              <div class="product__new-price">$2.15</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product grocery">
        <div class="product__top">
          <div class="product__badges">
            <div class="product__badge product__badge--new">New
            </div>
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/coffee.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Hemp coffee, organic Caffé Salomoni 10oz
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$10</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

      <article class="product grocery">
        <div class="product__top">
          <div class="product__badges">
          </div>
          <button class="product__fav">
            <svg class="product__icon">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>
        <div class="product__img-box">
          <img class="product__img" src="img/products/ketchup.jpg" alt="#">
        </div>

        <div class="product__bottom">
          <h3 class="product__name">
            Tomato ketchup, Bio-Zentrale, 14oz
          </h3>
          <div class="product__buy">
            <div class="product__price">
              <div class="product__new-price">$7</div>
            </div>
            <button class="product__btn">
              <svg class="product__cart">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </article>

    </div>
    <a class="top-category__link btn" href="#">
      Show more
    </a>
  </div>
</section>